{% extends "templates/_layout.njk" %}

{% block content %}

<h1 class="h-charlie">
  Accordion Expander &#40;Details/Summary&#41;
</h1>
<p>
  Accordion expanders must express their state, 
</p>

<details>
  <summary>See full terms</summary>
    <p>
      Limited-time offer; subject to change. Qualifying credit, service, additional line, & trade-in
  
    </p>
</details>

{% endblock content %}
