<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Make page zoomable -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Appears as search results links -->
    <title>
      {% block title %}
        This is a web page
      {% endblock title %}
    </title>
    <!-- Appears as search results description -->
    <meta name="description" content="Sanity check for all the html elements" />
    <link href="/assets/styles/index.processed.css" rel="stylesheet">
  </head>
<body>
<div class="page-container">

<!--   
<div class="skip-links container">
  <a href="#nav-primary">Skip to Navigation</a>  
  <a href="#content">Skip to Main Content</a>  
  <a href="#footer">Skip to Footer</a>
</div>
 -->
  
<header class="container" id="header" tabindex="-1">
<nav class="nav-primary" id="nav-primary" tabindex="-1">
  
  <a class="site-title" href="https://codepen.io/charlietriplett/project/live/DYxLPY/">Website name</a>
  
  <button type="button" class="menu expander-toggle" aria-expanded="false">Menu</button>

  <ul class="expander-content">
    <li>
      <a href="#basic">Basic inputs</a>
    </li>
    <li>
      <a href="#specialized">Specialized inputs</a>
    </li>
    <li>
      <a href="#components">Content components</a>
    </li>
  </ul>
</nav></header>


<main class="container" id="content" tabindex="-1">
  {% block content %}
    <h1 class="h-alpha">Page title</h1>
    <p>
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Itaque earum rerum hic tenetur a sapiente delectus. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.

Fugiat quo voluptas nulla pariatur? Totam rem aperiam. Qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam.
    </p>
  {% endblock content %}
</main>

<footer class="container" role="contentinfo" id="footer" tabindex="-1">
  {% block footer %}
    
    &copy; 2021 | Legal text and disclaimers

  {% endblock footer %}
</footer> 
</div><!-- end .page-container -->
{% block dialog %}
{% endblock dialog %}

  
  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/assets/scripts/index.js"></script>
  </body>
</html>
