{% extends "templates/_layout.njk" %}

{% block content %}

<h1 class="h-charlie">Blockquote</h1>

<figure class="no-scroll">
  <blockquote>
    Accessibility is not a requirement.<br/>
    It's a design <strong>tool</strong>.
  </blockquote>
  <figcaption>
    Derek Featherstone, <cite><a href="http://simplyaccessible.com/">SimplyAccessible.com</a></cite>
  </figcaption>
</figure>
{% endblock content %}
