{% extends "templates/_layout.njk" %}

{% block content %}

<ul>
  <li><a href="./buttons.html">Buttons</a></li>
  <li><a href="./component-blockquote.html">Blockquote</a></li>
  <li><a href="./component-details-summary.html">Accordion Expander &#40;Details/Summary&#41;</a></li>
  <li><a href="./component-dialog.html">Dialog</a></li>
  <li><a href="./component-headings.html">Headings</a></li>
  <li><a href="./component-images.html">Alt text examples</a></li>
  <li><a href="./component-landmarks.html">Landmarks</a></li>
  <li><a href="./component-table.html">Table</a></li>
  <li><a href="./input-accordion-radio-buttons.html">Accordion "Radio" Group</a></li>
  <li><a href="./input-checkboxes.html">Checkboxes</a></li>
  <li><a href="./input-date.html">Datepicker</a></li>
  <li><a href="./input-file.html">Upload a file</a></li>
  <li><a href="./input-payment-options.html">Accordion "Radio" Group</a></li>
  <li><a href="./input-radio-buttons.html">Radio buttons</a></li>
  <li><a href="./input-search.html">Search Input</a></li>
  <li><a href="./input-select.html">Select styled with CSS</a></li>
  <li><a href="./input-switch.html">Toggle switches</a></li>
  <li><a href="./input-text.html">Various text inputs</a></li>
</ul>
{% endblock content %}
