{% extends "templates/_layout.njk" %}

{% block content %}

<h1 class="h-charlie">
  Upload a file
</h1>

<input type="file"  id="upload-file" name="avatar" accept="image/png, image/jpeg">
<label for="upload-file">Choose a file</label>


{% endblock content %}
