{% extends "templates/_layout.njk" %}

{% block content %}

<h1 class="h-charlie">
  Datepicker
</h1>

<label for="start">Choose a date:</label>
<input type="date" id="start" name="start-date" value="2021-03-30" min="2021-03-15" max="2021-03-31">



{% endblock content %}
